::ng-deep .mat-drawer-content {
    justify-content: space-between;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sidenav-container{
    position: fixed;
    flex-direction: column;
    width: 234px;
    height: 100%;
    background-color: #2A3647;
}

.sidenav-logo{
    display: flex;
    padding-top: 64px;
}

.sidernav-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-bottom: 64px;

    a {
        padding: 8px ;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: rgba(168, 168, 168, 1);
        cursor: pointer;
        padding-left: 52px;
        

        &:hover {
            color: rgba(41, 171, 226, 1);
            
        }

        &:active{
            background-color: #091931;
        }
    }
}