.task-card-container{
    display: flex;
    flex-direction: column;
    width: 396px;
    border-radius: 30px;
    padding: 32px 24px;
    gap: 32px;
}

.other-color-box{
    color: rgba(66, 82, 110, 1);
    font-size: 20px;
    font-weight: 400;
}
.card-category{
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg{
        cursor: pointer;
    }
}


.card-title{
    display: flex;
    font-size: 61px;
    font-weight: 700;
    line-height: 42.2px;

}


.card-title-text{
    display: flex;
    border-radius: 8px;
    padding: 4px 16px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
}


.card-description{
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 400;
}

.card-date{
    display: flex;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
}




.card-priority-container{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    gap:45px
}

.priority-box{
    display: flex;
    align-items: center;
    gap: 10px;    
}


.assigned-container{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .assigned-description{
        font-size: 20px;
        font-weight: 400;
    }

    .card-initials-container{
        display: flex;
        flex-direction: column;

        .card-initials{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 12px;
            font-weight: 400;
            width: 32px;
            height: 32px;
            border-radius: 45px;
            }

    }

    .card-assigned-initials-box{
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 7px 16px;

        .card-assigned{
            font-size: 19px;
            font-weight: 400;
        }
        
    }

  

}

.subtask-container{
    display: flex;
    flex-direction: column;


    .subtask-box{
        display: flex;
        flex-direction: column;
    }
}

