.add-task-container{
        height: 100vh;
        display: flex;
        flex-direction: row;
        overflow: hidden;
}

.task-box{
    display: flex;
    width: 100%;
    gap: 48px;
}

.title-container{
  display: flex;
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 48px;

}


.left-container {
        display: flex;
        flex-direction: column;
        padding-top: 206px;
        padding-left: 328px;
        width: 100%;
}

.left-side-task{
    display: flex;
    flex-direction: column;
    width: 440px;
}

.input-container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 20px;
        .formfield-title-container{
            display: flex;
            width: 100%;
            
        }

       
}

.user-box{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 7px 0px;

    .initial-user-box{
        display: flex;
        background-color: black;
        color: white;
        border-radius: 45px;
        min-width: 42px;
        height: 42px;
        justify-content: center;
        align-items: center;
    }

   
}

.all-select-initial-container{
    display: flex;
    gap: 7px;
    flex-direction: row;
    flex-wrap: wrap;

}


    
    
.middle-container{
    border: 1px solid rgba(209, 209, 209, 1);  
    display: flex;
}

.right-side-task{
  display: flex;
  flex-direction: column;
  width: 440px;
}

.prio-button-container{
    margin-bottom: 22px;
}


.create-task-button-container{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 35px;
    
      .create-task-button:disabled {
      opacity: 0.5; 
      cursor:not-allowed;
      }
            
    
        .clear-button{
            padding: 15px 24px;
            background-color: rgba(42, 54, 71, 1);
            color: rgba(255, 255, 255, 1);
            border-radius: 8px;
            font-size: 21px;
            font-weight: 700;
            height: 48px;
    
            &:hover{
                background-color: rgb(41, 171, 226);
            }
        }
}



.select-category-box{

    &:hover{
        color: white !important;
    }
}


