.add-task-container{
        height: 100vh;
        display: flex;
        overflow: hidden;
}


.left-container {
    display: flex;
    padding-top: 206px;
    padding-left: 328px;
   
    background-color: rgba(246, 247, 248, 1) !important;
  }