<div class="add-task-container">
    <div class="left-container">
        <div class="title-container">Add Task</div>


        <div class="task-box">
            <div class="left-side-task">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div></div>

            <div class="right-side-task">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

        

    </div>
</div>
