.add-task-container{
        height: 100vh;
        display: flex;
        overflow: hidden;
}

.title-container{
        display: flex
}


.left-container {
        display: flex;
        flex-direction: column;
        padding-top: 206px;
        padding-left: 328px;
        width: 440px;
}

.input-container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 20px;
        .formfield-title-container{
            display: flex;
            width: 100%;
            
        }

       
 }
    
    


    


    .create-task-button-container{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 35px;
    
        .create-task-button:disabled {
            opacity: 0.5; 
            cursor:not-allowed;
          }
        
    
    
        .clear-button{
            padding: 15px 24px;
            background-color: rgba(42, 54, 71, 1);
            color: rgba(255, 255, 255, 1);
            border-radius: 8px;
            font-size: 21px;
            font-weight: 700;
            height: 48px;
    
            &:hover{
                background-color: rgb(41, 171, 226);
            }
        }
    }
    