.startscreen-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.uper-startscreen-box{
    display: flex;
    margin: 80px 122px 64px 70px;
    width: calc(100% - 150px);
    justify-content: space-between;
}

.right-site-uper-box{
    display: flex;
    align-items: flex-start;
    

    .right-inner-box{
        display: flex;
        align-items: center;
        gap: 35px;
        font-size: 20px;

        .sign-up-button{
            display: flex;
            padding: 15px 16px;
            border-radius: 8px;
            background: #2A3647;
            color: white;

            &:hover{
                background-color: rgba(41, 171, 226, 1);
            }
        }
    }
}

.lower-startscreen-container {
    display: flex;
    gap: 16px;
    padding: 160px;

    .lower-startscreen-box {
        a {
            padding: 8px;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            color: rgba(168, 168, 168, 1);
            cursor: pointer;

            &:hover {
                color: rgba(41, 171, 226, 1);
                
            }
        }
    }
}