<app-toolbar></app-toolbar>
<div class="legal-notice-container">
    <app-sidebar></app-sidebar>
    <mat-card class="legal-notice-box">
        <span class="legal-title-box">
        <h1>Legal Notice</h1>
        <svg [routerLink]="['']" xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
            <path d="M10.9375 15.1667H25.8335C26.5699 15.1667 27.1668 15.7636 27.1668 16.5C27.1668 17.2364 26.5699 17.8333 25.8335 17.8333H10.9375L17.1468 24.0427C17.6675 24.5633 17.6674 25.4074 17.1468 25.928C16.6262 26.4486 15.7821 26.4486 15.2615 25.928L7.24771 17.9142C6.46666 17.1332 6.46666 15.8668 7.24771 15.0858L15.2615 7.072C15.7821 6.55138 16.6262 6.55138 17.1468 7.072C17.6674 7.59262 17.6674 8.43671 17.1468 8.95733L10.9375 15.1667Z" fill="#29ABE2"/>
        </svg>
        </span>
        <div>
            <h2>Impressum</h2>
            <span>
                Angaben gemäß § 5 TMG: <br />
                <br />

                Eduard Mayer <br />
                NDS, 49429 Visbek <br />
                Deutschland <br />
                <br />

                <b>Kontakt:</b> <br />
                <br />
                Telefon: +49 174 2696 942 <br />
                E-Mail: eduardmayer&#64;web.de
            </span>
        </div>
        <div>
            <h2>Haftungsausschluss</h2>
            <span>A: Haftung für Inhalte</span>
            <br />
            <br />
            <span>Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für
                die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir
                jedoch keine Gewähr übernehmen. Als Dienstanbieter sind wir gemäß § 7
                Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
                Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
                Dienstanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte
                fremde Informationen zu überwachen oder nach Umständen zu forschen, die
                auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
                Entfernung oder Sperrung der Nutzung von Informationen nach den
                allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche
                Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
                Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
                Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</span>
            <br />
            <br />
            <span>B: Haftung für Links</span> <br />
            <br />
            <span>Unser Angebot enthält Links zu externen Websites Dritter, auf deren
                Inhalte wir keinen Einfluss haben. Für die Inhalte der verlinkten Seiten
                ist stets der jeweilige Anbieter oder Betreiber der Seiten
                verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
                Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
                waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
                inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
                Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
                von Rechtsverletzungen werden wir derartige Links umgehend
                entfernen.</span>
        </div>
        <div>
            <h2>Urheberrecht</h2>
            <span>Die durch den Seitenbetreiber erstellten Inhalte und Werke auf dieser
                Website unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
                Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
                Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des
                jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
                sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
                Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
                werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
                Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
                Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
                entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden
                wir derartige Inhalte umgehend entfernen.</span>
        </div>
        <div>
            <h2>Datenschutz</h2>
            <span>Informationen zum Datenschutz finden Sie in unserer
                Datenschutzerklärung.</span>
        </div>
        <div>
            <h2>Sonstiges</h2>
            <span>Sollten einzelne Bestimmungen dieser rechtlichen Hinweise unwirksam
                oder unvollständig sein oder werden, bleibt die Wirksamkeit der übrigen
                Bestimmungen hiervon unberührt.</span>
        </div>
    </mat-card>
</div>
